{
  "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
  "plugins": ["jest", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "react/jsx-curly-brace-presence": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
